@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --black: #211A1E;
    --lowBlack: #35282f;
    --blue: #2F6690;
    --red: #D64550;
    --lowRed: #974249;
    --white: #FDFFFC;
    --linen: #F7ECE1;
    --orange: #FA9500;
    --green: #a7aa29;
    --papaya: #ebddc1;
    --grey: #39393A;
}

html {
    font-size: 12px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'roboto';
}

.roboto {
    font-family: 'Roboto';
}

.montserrat {
    font-family: 'Montserrat';
}

.openSans {
    font-family: 'Open Sans';
}

a {
    text-decoration: none;
}

.fit {
    min-height: fit-content;
    min-width: fit-content;
}

.animeLeft {
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: inherit;
        transform: translateX(inherit);
    }
}